<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Add Subject</title>
</head>


<body>

	<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
              
              
              <h3>Subjects</h3>
			  <hr>
				
				<p class="h4 mb-4">Add a new Subject </p>
			
				<form th:action="@{/professor/showFormForAdd/save}" th:object="${subject}" method="POST">
				
					<input type="hidden" th:field = "*{id}" />
					<input type="hidden" th:field = "*{supervisorProfessor}" />  
					
					<input type="text" th:field="*{title}" name = "title" class="form-control mb-4 col-4" placeholder="Title">
		
					<input type="text" th:field="*{objectives}" name = "objectives" class="form-control mb-4 col-4" placeholder="Objectives"> 
		
					<button type="submit" class="btn btn-info col-2">Save</button>
				
								
				</form>
				
				<!--</form>   -->
	
			   <hr>
			   <a th:href="@{/professor/subjects}">Back to Subjects List</a>
		
             
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>